/*ALL PAGES*/
:root {
  --primary-color: #b6d2dd;
  --secondary-color: #323c6b;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: var(--secondary-color);
  padding: 30px 20px 10px 20px;
  font-size: 50px;
}

.introduction {
  text-align: center;
}

/*HOME PAGE*/
.about-me {
  text-align: center;
  background-color: var(--primary-color);
  padding: 10px;
  color: white;
}

.projects {
  color: var(--secondary-color);
  text-align: right;
  padding: 10px;
}

.skills {
  color: var(--secondary-color);
  font-size: 30px;
  margin-top: 10px;
}

.responsive-portfolio,
.weather-app,
.arctic-monkeys {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px;
}

.weather-app-landscape,
.weather-app-portrait {
  max-width: display;
}

.project-link {
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-decoration: none;
  color: white;
  background: var(--secondary-color);
  text-align: left;
}

.project-link:hover {
  background-color: var(--primary-color);
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  margin: 20px;
  max-width: display;
}

.copyright {
  text-align: left;
}

.social-icons {
  text-align: right;
  font-size: 30px;
}

@media (max-width: 768px) {
  .about-me-title,
  .about-me,
  .projects,
  .copyright,
  .social-icons {
    text-align: center;
  }
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .weather-app-landscape,
  .weather-app-portrait {
    max-width: 300px;
  }
}

/*ABOUT PAGE*/
.technology {
  color: var(--secondary-color);
  font-size: 30px;
}

/*PROJECTS PAGE*/
