/*ALL PAGES*/
:root {
  --primary-color: #b6d2dd;
  --secondary-color: #323c6b;
  --third-color: #fed19a;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: var(--secondary-color);
  padding: 30px 20px 10px 20px;
}

.introduction {
  text-align: center;
}

.logo {
  max-width: 60px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  margin: 20px;
  max-width: display;
}

.copyright {
  text-align: left;
  font-size: 20px;
}

.social-icon {
  text-align: right;
  font-size: 30px;
  color: var(--secondary-color);
}

.social-icon:hover {
  color: var(--third-color);
}

/*HOMEPAGE*/
.blurb {
  text-align: center;
  background-color: var(--primary-color);
  padding: 10px;
  color: white;
  font-size: 30px;
}

/*ABOUT ME*/
.about-me-title {
  background-color: var(--primary-color);
  padding: 5px;
  text-align: centre;
}

.about-me {
  text-align: center;
  background-color: var(--primary-color);
  padding: 10px;
  color: white;
}

.experience-title,
.technologies-title {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 5px;
  text-align: centre;
}

.experience,
.technologies {
  color: var(--secondary-color);
  text-align: center;
  padding: 10px;
}

.skill-icon {
  color: var(--secondary-color);
  font-size: 30px;
  margin-top: 10px;
}

.skill-icon:hover {
  color: var(--third-color);
}

/*PROJECTS PAGE*/
.project-title {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 5px;
  text-align: centre;
}

.project {
  color: var(--secondary-color);
  text-align: center;
  padding: 10px;
}

.project-image {
  max-width: display;
}

.project-links {
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-decoration: none;
  color: white;
  background: var(--secondary-color);
  text-align: center;
  width: 130px;
}

.project-links:hover {
  background-color: var(--primary-color);
}

/*CONTACT ME PAGE*/
.contact-me-title {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 5px;
  text-align: centre;
}

.contact-me {
  text-align: center;
}

.contact-icon {
  color: var(--secondary-color);
  font-size: 45px;
  text-align: center;
}

.contact-icon:hover {
  color: var(--third-color);
}

/*RESPONSIVE PAGES*/
@media (max-width: 768px) {
  .copyright,
  .social-icon,
  .contact-icon {
    text-align: center;
  }
  p,
  .technologies,
  .copyright {
    font-size: 13px;
  }
  h1 {
    font-size: 30px;
  }
  h5 {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .project-image {
    max-width: 300px;
  }
}
